<div class="ui search mini left action right icon input" style="width: 100%;" [ngClass]="{'loading': showLoader }">
    <div class="ui mini basic floating dropdown button" suiDropdown *ngIf="showNLPSearch" style="background-color: #FFFFFF !important;">
        <div class="text">{{currentSearchMode}}</div>
        <i class="dropdown icon"></i>
        <div class="menu" suiDropdownMenu>
            <div class="item" (click)="currentSearchMode='Basic'">Basic</div>
            <div class="item" (click)="currentSearchMode='Advanced'">Advanced</div>
        </div>
    </div>
    <div class="ui icon input" style="width: 80%;">
        <input class="prompt"
        type="text"
        id="keyword"
        name="filter_search"
        title="{{resourceService.frmelmnts?.lbl?.SearchIn}} {{searchPlaceHolderValue}}" 
        placeholder="{{resourceService.frmelmnts?.lbl?.SearchIn}} {{searchPlaceHolderValue}}"
        [(ngModel)]="key" 
        (keyup.enter)="onEnter($event.target.value)" 
        [disabled]="!showInput"
        [ngClass]="{'disabled': !showInput }"
        autocomplete="off"
        style="border-radius: 0rem .28571429rem .28571429rem 0rem;line-height: 0px;">
        <!-- <i class="search icon"></i> -->
        <i class="circular search link icon" [ngClass]="{'disabled': !showInput }" (click)="onEnter(key)"
        title="{{resourceService.frmelmnts?.lbl?.SearchIn}} {{searchPlaceHolderValue}}"></i>
    </div>
    <div class="results" [ngStyle]="{'left':this.showContentSuggest ? '5.5rem;':''}" style="width:35.5em;"></div>
</div>